<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Alumno</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumno</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Alumno</a>
  </li>
</ul>
