<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Definiciones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Informacion util</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Componentes basicos</a>
  </li>
</ul>
