<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/apartados">Apartado 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Apartado 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/alumnos">Apartado 3</a>
  </li>
</ul>
